{% extends "base.html" %}
{% block content %}
<style>
h1 {text-align:center;font-size:48;}
h3 {text-align:center;}
p {text-align:center;}
h6 {text-align:right;}
</style>
<h1><font color="#4B0091">Finpedia!</h1>
<!--{% for post in posts %}
<div><p>{{post.author.nickname}} says: <b>{{post.body}}</b></p></div>

{% endfor %}-->
<h3> <font color="#28004D">A financial Wikipedia that you deserve to own. <h3>
<center><img src="/static/image.png" align="middle" style="width:300px;height:300px;"></center>
<h3><a href="/login">Start to Search</a></h3>
<h6>By 管悦 清华大学</h6>

{% endblock %}